[
  %% SASL config
  {tcp_perf, [
    {type, server},
    {listen_port, 5678},
    {send_port, 5678},
    {send_hosts, ["localhost"]},
    {http_port, 3339},
    {packet_interval, 100},
    {num_sockets_per_host, 100000},
    {num_packets_per_socket, 10000},
    {conn_interval, 5}
  ]},

  {oneup_metrics, [
    {http_port, 3339},
    {metrics_config, []} %% Will add on the fly
  ]},

  %% LAGER Config
  {lager, [
    {colored, true},
    {log_root, "/var/log/xaptum/tcp_perf"},
    {error_logger_hwm,1000},
    {async_threshold,500},
    {async_threshold_window,250},
    {killer_hwm, 1000},
    {killer_reinstall_after, 5000},
    {handlers, [
      {lager_console_backend, debug },
      {lager_file_backend, [
        {file, "tcp_perf.log"},
        {level, debug},
        {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]} ]
  }
].