[
  %% SASL config
  {tcp_perf, [
    {type, {{ type }} },
    {listen_port, {{ listen_port }} },
    {send_port, {{ listen_port }} },
    {send_hosts, {{ send_hosts }} },
    {packet_rate, {{ packet_rate }} },
    {packet_burstiness, {{ packet_burstiness }} }, %% float between 0 and 1
    {num_sockets_per_host, {{ num_sockets_per_host}} },
    {num_packets_per_socket, {{ num_packets_per_socket }} },
    {conn_interval, {{ conn_interval }} },
    {packet_size, {{ packet_size }} }
  ]},

  {oneup_metrics, [
    {http_port, {{ http_port }} },
    {system_info_config, [{mbox_threshold, {{ mbox_threshold }} }] },
    {metrics_config, []}  %% will add dynamically
    ]
  },

  %% LAGER Config
  {lager, [
    {colored, true},
    {log_root, "/var/log/xaptum/tcp_perf"},
    {error_logger_hwm,1000},
    {async_threshold,500},
    {async_threshold_window,250},
    {killer_hwm, 1000},
    {killer_reinstall_after, 5000},
    {handlers, [
      {lager_console_backend, {{ log_level }} },
      {lager_file_backend, [
        {file, "{{ type }}.log"},
        {level, {{ log_level }} },
        {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]} ]
  }
].